@if(entity(); as entity) {
  <mat-card class="w-full">
    <mat-card-header>
      <mat-card-title>{{ entity.name }}</mat-card-title>
      <mat-card-subtitle>{{ entity.version }}, {{entity.release_year}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>{{ entity.description }}</p>
    </mat-card-content>
    <mat-card-actions class="flex flex-row">
      @if(!hideViewButton()) {
        <button mat-button type="button" (click)="viewClicked.emit(entity)">VIEW</button>
      }
      <div class="grow"><!--spacer--></div>
      <button mat-button type="button" class="error-color" (click)="deleteClicked.emit(entity)">DELETE</button>
    </mat-card-actions>
  </mat-card>
}
