@use 'sass:map';

/// Adds the error colors to the given palette.
@function _patch-error-palette($palette) {
  @return map.merge(
    $palette,
    (
      error: (
        0: #000000,
        10: #410002,
        20: #690005,
        25: #7e0007,
        30: #93000a,
        35: #a80710,
        40: #ba1a1a,
        50: #de3730,
        60: #ff5449,
        70: #ff897d,
        80: #ffb4ab,
        90: #ffdad6,
        95: #ffedea,
        98: #fff8f7,
        99: #fffbff,
        100: #ffffff,
      ),
    )
  );
}

/// Custom light theme color palette.
$custom-palette: _patch-error-palette(
  (
    0: #000000,
    10: #22005d,
    20: #381e72,
    25: #432b7e,
    30: #4f378a,
    35: #5b4397,
    40: #6750a4,
    50: #8069bf,
    60: #9a83db,
    70: #b69df7,
    80: #cfbcff,
    90: #e9ddff,
    95: #f6eeff,
    98: #fdf7ff,
    99: #fffbff,
    100: #ffffff,
    secondary: (
      0: #000000,
      10: #1e192b,
      20: #332d41,
      25: #3e384d,
      30: #4a4459,
      35: #564f65,
      40: #625b71,
      50: #7b738b,
      60: #958da5,
      70: #b0a7c0,
      80: #ccc2dc,
      90: #e8def9,
      95: #f6eeff,
      98: #fdf7ff,
      99: #fffbff,
      100: #ffffff,
    ),
    neutral: (
      0: #000000,
      10: #1a1c18,
      20: #2f312d,
      25: #3a3c38,
      30: #454743,
      35: #51534e,
      40: #5d5f5a,
      50: #767872,
      60: #90918c,
      70: #abaca6,
      80: #c6c7c1,
      90: #e2e3dc,
      95: #f1f1eb,
      98: #f9faf3,
      99: #fcfdf6,
      100: #ffffff,
      4: #0c0f0b,
      6: #121410,
      12: #1e201c,
      17: #282b26,
      22: #333531,
      24: #383a35,
      87: #dadbd3,
      92: #e8e9e1,
      94: #eeeee7,
      96: #f3f4ed,
    ),
    neutral-variant: (
      0: #000000,
      10: #181d15,
      20: #2c3229,
      25: #373d34,
      30: #43483f,
      35: #4e544a,
      40: #5a6056,
      50: #73796e,
      60: #8d9387,
      70: #a7ada1,
      80: #c3c8bc,
      90: #dfe4d7,
      95: #edf3e5,
      98: #f6fbee,
      99: #f9fef1,
      100: #ffffff,
    ),
  )
);
