@if (mode() === 'gallery') {
  <div class="grid grid-flow-row-dense gap-4 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4">
    @for (entity of entities(); track entity.id) {
      <ng-container
        *ngTemplateOutlet="
          gameSessionCard;
          context: {
            entity,
            mode: 'gallery',
          }
        "
      ></ng-container>
    } @empty {
      <lib-shared-notification
        class="sm:col-span-1 md:col-span-2 lg:col-span-3 xl:col-span-4"
        [title]=" 'No game systems found!' "
        [color]=" 'primary' "
        [icon]=" 'info_outline' "
      ></lib-shared-notification>
    }
  </div>
} @else {
  <div class="flex flex-col gap-4">
    @for (entity of entities(); track entity.id) {
      <ng-container
        *ngTemplateOutlet="
          gameSessionCard;
          context: {
            entity,
            mode: 'list',
          }
        "
      ></ng-container>
    } @empty {
      <lib-shared-notification
        [title]=" 'No game systems found!' "
        [color]=" 'primary' "
        [icon]=" 'info_outline' "
      ></lib-shared-notification>
      }
  </div>
}

<ng-template #gameSessionCard let-mode="mode" let-entity="entity">
  <lib-game-session-card
    [entity]="entity"
    [mode]="mode"
    class="w-full"
    (viewGameSessionClicked)="viewGameSessionClicked.emit($event)"
    (joinGameSessionClicked)="joinGameSessionClicked.emit($event)"
    (leaveGameSessionClicked)="leaveGameSessionClicked.emit($event)"
  />
</ng-template>
