@if (entity(); as gameSession) {
  @if (mode() === 'gallery') {
    <mat-card class="rounded-lg shadow w-full max-w-screen-sm">
      @if(gameSession.image_url) {
        <img class="rounded-t-lg max-h-[40%] w-full" [src]="gameSession.image_url" [alt]="gameSession.image_url_description" />
      }
      <div class="p-4">
        <div class="mb-2 mt-0 text-2xl font-bold tracking-tight">{{gameSession.title}}</div>
        @if (gameSession.game_system; as gameSystem) {
          <mat-card-subtitle>
            {{ gameSystem.name }} ({{ gameSystem.version }}, {{ gameSystem.release_year }})
          </mat-card-subtitle>
        }
        <mat-card-subtitle>
          <div class="flex w-full flex-wrap gap-x-4">
            <div class="flex flex-row items-center gap-4">
              <mat-icon>calendar_month</mat-icon><span>{{ gameSession.start_date | date: 'medium' }}</span>
            </div>
            <!-- <div class="flex flex-row items-center gap-4">
              <mat-icon>calendar_month</mat-icon><span>{{ gameSession.end_date | date: 'medium' }}</span>
            </div> -->
          </div>
        </mat-card-subtitle>
        <mat-card-content>
          <p class="mb-3 font-normal">
            {{gameSession.description}}
          </p>
          <p>
            <lib-user-avatar-list [users]="players()" />
          </p>
        </mat-card-content>
        <div class="flex flex-row gap-2">
          <ng-container
            *ngTemplateOutlet="
              cardActions;
              context: {
                gameSession,
              }
            "
          ></ng-container>
        </div>
      </div>
    </mat-card>
  }
  @if (mode() === 'list') {
    <mat-card class="w-full rounded-lg max-h-72">
      <div class="flex flex-row items-center w-full max-h-72 overflow-hidden">
        <div class="max-h-72 h-full overflow-hidden w-full flex flex-col">
          <div class="p-4 overflow-y-auto flex-grow">
            <div class="max-h-40 overflow-hidden flex flex-col justify-between leading-normal w-full max-w-full">
              <div class="mb-2 mt-0 text-2xl font-bold tracking-tight">{{ gameSession.title }}</div>
              @if (gameSession.game_system; as gameSystem) {
                <mat-card-subtitle>
                  {{ gameSystem.name }} ({{ gameSystem.version }}, {{ gameSystem.release_year }})
                </mat-card-subtitle>
              }
              <mat-card-subtitle>
                <div class="flex w-full flex-wrap gap-x-4">
                  <div class="flex flex-row items-center gap-4">
                    <mat-icon>calendar_month</mat-icon><span>{{ gameSession.start_date | date: 'medium' }}</span>
                  </div>
                  <!-- @if(sharedCoreService.getPageWidth()() > 870) {
                    <div class="flex flex-row items-center gap-4">
                      <mat-icon>calendar_month</mat-icon><span>{{ gameSession.end_date | date: 'medium' }}</span>
                    </div>
                  } -->
                  <div class="flex flex-row items-center gap-4">
                    <mat-icon>calendar_month</mat-icon><span>{{ gameSession.end_date | date: 'medium' }}</span>
                  </div>
                </div>
              </mat-card-subtitle>
              <p class="m-0 font-normal">
                {{ gameSession.description }}
              </p>
            </div>
          </div>
          @if(players().length) {
            <p class="m-0 px-4">
              <lib-user-avatar-list [users]="players()" />
            </p>
          }
          <div class="h-9 flex flex-row gap-2 p-2">
            <ng-container
              *ngTemplateOutlet="
                cardActions;
                context: {
                  gameSession,
                }
              "
            ></ng-container>
          </div>
        </div>
        @if(gameSession.image_url) {
          <img class="object-cover h-72 w-[40%] max-w-96 rounded-r-2xl hidden sm:block" [src]="gameSession.image_url" [alt]="gameSession.image_url_description" />
        }
      </div>

    </mat-card>
  }
}

<ng-template #cardActions let-gameSession="gameSession">
  @if (isUserInEvent()) {
    <button mat-button (click)="leaveGameSessionClicked.emit(gameSession)" type="button">LEAVE</button>
  } @else {
    @if ((gameSession.jt_user_game_session?.length || 0) < gameSession.max_players) {
      @if (authService.getUserTokenDecoded()()) {
        <button mat-button (click)="joinGameSessionClicked.emit(gameSession)" type="button">JOIN</button>
      } @else {
        <div matTooltip="You must log in to join a session!">
          <button mat-button disabled>JOIN</button>
        </div>
      }
    } @else {
      <div matTooltip="Game session is at capacity!">
        <button mat-button disabled>JOIN</button>
      </div>
    }
  }
  @if (!hideViewButton()) {
    <button mat-button type="button" (click)="viewGameSessionClicked.emit(gameSession)">VIEW</button>
  }
</ng-template>
